[Desktop Entry]
Name=dodo
GenericName=Fast and configurable PDF reader
Exec=dodo %f
Icon=io.github.dheerajshenoy.dodo
Terminal=false
Type=Application
Keywords=pdf;viewer;research;
Categories=Office;Viewer;
MimeType=application/pdf;
StartupNotify=false
