[Desktop Entry]
Name=dodo
GenericName=Fast and configurable PDF reader
Comment=Sioyek is a PDF viewer designed for reading research papers and technical books
Exec=dodo %f
Icon=io.github.dheerajshenoy.dodo
Terminal=false
Type=Application
Keywords=pdf;viewer;research;
Categories=Office;Viewer;
MimeType=application/pdf;
StartupNotify=false
